@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:ital,wght@1,400;1,900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Tiro+Gurmukhi:ital@1&display=swap');*/
* {
    /*sin relleno*/
    margin:0;
    padding:0;
    box-sizing: border-box; /* Esto asegura que el padding y el borde se incluyan en el ancho y la altura total del elemento */
}
#color5{
    /*cambia el color de toda la plantilla*/
    background-color: ghostwhite;

}
/*ya lo hace automatico con el boostrap el smoth*/
/*desplazamiento suave hacia abajo*/
html{

    scroll-behavior:smooth;/*desplazamiento suave par el submenu*/

}
/*separacion de las secciones*/
.separacion{
    padding-top: 80px;
}
/*tamaño del carrusel*/
/*#myCarousel{
    /*espacio del carrousel con el menu*/
/*margin-top: 43px;

/*margin-bottom: 100px;/*separacion de todos los div **/
/*background-color: #d3d3d3;*/
/*}*/
#carouselExampleDark{
    margin-top: 37px;
    /*height:478px;/*tamaño del carrusel*/
    /* background-color: rgba(127, 128, 128, 0.2);
     /*background-color: #d3d3d3;
     /*margin-bottom: 100px;/*separacion de todos los div **/
    /*background-color: #d3d3d3;*/
}



/* Estilo para los indicadores de slide */
.carousel-indicators button {
    background-color: white !important; /* Cambia el color de fondo a blanco */
    border-color: white !important; /* Cambia el color del borde a blanco */
    border-radius: 10% !important; /* Aplica bordes redondos */

}

.producto{
    /*margin-bottom: 60px;/*separacion de todos los div **/
    box-shadow:20px 20px 30px rgba(10,10,9,90);/*sombra*/
    padding: 0px;


}
/*producto separador para las imagenes pegadas*/
.productoSeparador{
    margin-bottom: 40px;/*separacion de todos los div **/
    box-shadow:20px 20px 30px rgba(10,10,9,90);/*sombra*/

}

/*producto separador para las imagenes pegadas en bebederos
.productoSeparadorBebederos{
     margin-bottom: 40px; /* separacion de todos los div 
   
     box-shadow:20px 20px 30px rgba(10,10,9,90);

}*/


/*#contacto{
    margin-top: 80px;
    border-radius: 40px;
    border: 5px solid black;
    border-top: 15px solid black;
    /*margin-bottom: 40px;
}*/


#imagenes{

    text-align:center;/*alineaceon centrada de la imagenes*/
}
#imagenes2{
    border-radius: 40px;
}

/*agrandar imagen
.galeria {
  display: flex;
  flex-wrap: wrap;
}

.imagen {
  position: relative;
  margin: 5px;
}

.img-thumbnail {
  width: 200px;
  height: auto;
  cursor: pointer;
}


.imagen:hover .overlay {
  opacity: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-contenido {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 80%;
}

.cerrar {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
fin agrandar imagen*/

/*color contacto al final*/
.containerContacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Cambia el color del contenedor */
    padding: 20px;
}
.text {
    flex: 2;
    color: white; /* Color del texto */
}

.map {
    flex: 1;
    text-align: right;
}

.map img {
    max-width: 100%;
    height: auto;
}
/*fin contacto*/


/*contacto index primera pagina*/
.contacto {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el nombre de contacto y el resto del contenido */
    color: white; /* Color del texto */
    font-family: 'Oswald', sans-serif;
}
.containerContacto2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.colorContacto{
    padding: 20px;/*que el color llene toda la pagina*/
    background-color: #141420; /* Cambia el color del contenedor */
    color: white; /* Color del texto */

}

.textContacto{

    text-align:center;
}

/*fin contacto*/




#envio{

    padding: 20px;
}
.mapa{
    border-radius: 40px;
    width:99%;
    height:250px;
    border:0;
}

.titulo{
    text-align:center;
    color: black;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
}
.texto{

    text-align:center;
    color: gray;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;

}
/*.tituloContenido{
     text-align:center;
   color: black;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
   
}*/


/*iconos del menu */
.contenedor .icono{
    line-height: 22px;/*posicion donde estan las letras*/
    font-size: 12px;/*tamaño*/
}

.contenedor .icono.derecha{
    float: left;
    margin-right:10px;


}


.contenedor .icono.izquierda{
    float: right;
    margin-left:10px;


}
/*fin de los iconos del menu*/

/*icono de contacto*/
.textContacto .icono.izquierda{

    margin-right:10px;


}

/*icono de contacto productos*/
.text .icono.izquierda{

    margin-right:10px;


}




/*este es el color de las letras del menu*/
#color li a{

    display: block;
    padding:20px;
    color:white;
    font-family: 'Oswald', sans-serif;
    /* font:Verdana;/*Fuente de la letra el estilo*/
    text-decoration: none;
    cursor: pointer;/*cambiar de flecha a mano el cursor*/
    user-select:none;/* Evita la selección del texto*/
    font-size: 14px;/*tamaño*/
}



/*color del menu*/
header nav {

    /*background:url("imagenes/block_decorativo_cara_de_piedra_rojo.jpg");*/
    background-color:black;
    margin-bottom:90px;
    height: 60px;/*tamaño del recuadro del menu hacia abajo*/


}

header nav ul {
    list-style: none;
    /*overflow: hidden;/*evita que se pege el texto en el menu dejar comentado si se descomenta no deja aparecer el susbmenu en escritorio*/
}

header nav ul li {
    float: left;

}



.menu_bar {
    display:none;/*desactiva el menu de pantalla chica*/
}

.submenu{

    display: none;


}



/*alinear imagenes pequeñas derecha*/
.imagen-pequenaderecha {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Esto ajusta la altura máxima según tus necesidades */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    /*margin: auto; /* Centra la imagen horizontalmente */
    margin-left: auto; /* Desplaza la imagen hacia la derecha dentro de su contenedor */
}

/*este es para alinear imagenes pequeñas a la izquierda*/
.imagen-pequenaizquierda {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Esto ajusta la altura máxima según tus necesidades */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin-right: auto; /* Desplaza la imagen hacia la izquierda dentro de su contenedor */
}


/* Aplica estilos adicionales para centrar horizontalmente la imagen en pantallas pequeñas */
@media (max-width: 767px) {
    .imagen-pequenaizquierda {
        align-items: center;
        margin: auto !important;
    }

    .imagen-pequenaderecha {
        align-items: center;
        margin: auto !important;
    }
}
/*fin alinear imagenes pequeñas a la izquierda*/


/*Mover imagenes a la izquierda no borrar porque no se centraran bien en la esquina
/* Estilo personalizado para cambiar el orden en dispositivos de tamaño medio y superior */
@media (min-width: 768px) {
    #imagenesIzquierda {
        display: flex;
        flex-direction: row-reverse; /* Cambia el orden de los elementos */

    }
}



/*Menu de celular*/
@media screen and (max-width:800px ) {



    header nav {
        position: fixed;
        top:80px;/*de la parte superior de la pagina*/


        width: 57%;/*tamaño completo del menu*/
        height: 100%;
        /*left: -100%; mueve el menu a la izquierda*/
        right: -100%;
        /* display:flex;*/

        z-index:100;/*se sobrepone al resto del texto*/
        background: #2c3e50;
        /*esta parte hace que el contenido del menu se desplase*/
        overflow: auto;/*crea la barra de desplazamiento*/
        /*transition: right 0.1s; /* Agrega una transición suave para la animación */




    }

    header nav ul li {
        display:block;
        float:none;

        /* height: 70px;*/

    }
    #icono2{

        width:80px;
        height:60px;
    }
    #boton{
        padding: 15px;/*separacion del icono de la parte superior*/
    }

    .submenu{
        background: #424242;
        color: #e9e9e9;
        margin-left: 10px;

    }
    .menu_bar {
        position: fixed;
        z-index: 99;
        display:block;
        background:black;
        width: 100%;

        margin: auto;
        box-shadow:1px 1px 9px rgba(0,0,60,30);/*sombra*/
        padding:0px;

    }


    .menu_bar .bt-menu {
        display:block;
        padding:10px;/*ubicar el icono del menu con logo*/

        color:#fff;
        text-decoration:none;
        font-weight: bold;
        font-size:25px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;

    }

    .menu_bar span {

        /*posicion del icono*/
        float:right;
        font-size:30px;

        border-radius: 40px;

    }
    #color li a{
        /*tamaño del boton*/
        width: 200px;


    }


    #icono{
        display:none;
    }

    #boton{
        cursor: pointer;/*cambiar de flecha a mano el cursor*/
    }
    /*color del recuadro del menu los botones*/
    header nav ul li a:hover {

        border-radius: 40px;
        background:black;

        /*  height: 70px;hacer mas grande cuadro blanco*/
    }
    /*Carrousel separacion del menu*/
    #carouselExampleDark{
        margin-top: 56px;
    }




}

/*Menu de escritorio*/
@media screen and (min-width:800px ) {
    /* --- Clase que agregaremos cuando el usuario haga scroll --- */
    /*.menu-fixed {
        
            
    }*/

    #menu{
        width: 100%;
        height: 50px;
        position:fixed;/*eliminar esto y el menu ya no se pega a la pantalla*/
        z-index:99;/*se sobrepone al resto del texto*/

        margin: auto;


        box-shadow:1px 15px 9px rgba(0,0,60,30);/*sombra*/


    }

    /*color del menu al momento de pasar por productos*/
    .submenu{

        background: #141420;
        padding-left: 20px;

        width: 140px;

    }

    .submenu  li{

        position: relative;

    }
    /*submenu para que aparesca*/
    .menu4:hover ul{


        display: block;
        position: absolute;

        top: 60px;/*posicion del submenu*/
        z-index: 99;

    }




    .contenedor{
        display: flex;
        height: 100%;
        width:90%;
        margin: 0 auto;
        /*esta parte hace que el contenido del menu se desplase*/
        justify-content: space-between;
        /*align-items:center;alinio el icono en el centro*/
    }
    /*contenedor ponerlo en el  div devajo del header y es mas pequeño el menu
    .contenedor p {
            margin-bottom:40px;
    }
    .contenedor {
            width: 95%;
            max-width:1000px;
            margin:auto;
           
    }*/

    /*color del recuadro del menu los botones*/
    header nav ul li a:hover {

        border-radius: 40px;
        background:#2c3e50;

        /*  height: 70px;hacer mas grande cuadro blanco*/
    }

    .fa-home{
        /*recuadro de seleccion*/
        font-size:16px;
        width: 20px;


    }

    .fa-user-alt{
        /*altura del recuadro*/
        font-size:15px;
        width: 16px;
    }

}


